.add-doc-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.add-doc-main span {
    color: white;
}

.add-doc-main select {
    width: 250px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: transparent;
    border-radius: 10px;
}

.contractor-name {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contractor-name span {
    color: white;
}

.goods-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 30px;
}

.add-doc-goods {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.add-doc-goods-btn {
    width: 25px;
    height: 25px;
    background-color: black;
    border: none;
    border: solid 1px white;
    border-radius: 5px;
}

.add-doc-goods-btn i {
    text-align: center;
    color: white;
}

.remove-goods-btn {
    width: 25px;
    height: 25px;
    background-color: black;
    border: none;
    border: solid 1px white;
    border-radius: 5px;
}

.remove-goods-btn i {
    text-align: center;
    color: white;
}

.fetch-goods-btn {
    width: 25px;
    height: 25px;
    background-color: black;
    border: none;
    border: solid 1px white;
    border-radius: 5px;
}

.fetch-goods-btn i {
    text-align: center;
    color: white;
}

.goods-add-line {
    display: flex;
    margin-top: 10px;
    text-align: center;
    justify-content: center
}

.goods-add-line button {
    background: transparent;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.goods-submit {
    display: flex;
    margin-top: 10px;
    text-align: center;
    justify-content: center
}

.goods-submit button {
    background: transparent;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.goods-contractor {
    gap: 5px;
    margin-top: 10px;
    text-align: center;
    justify-content: center
}

.goods-contractor button {
    background: transparent;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
}