:root {
    --primary-color: #fff;
    --secondary-color: #f6f6f6;
    --background-color: #5b6677;
    --text-color: #5b6677;
    --text-color2: #000;
    --text-color3: #fff;
    --text-hover-color: #000;
    --button-color: #757575;
  }
  
  .dark-theme {
    --primary-color: #212121;
    --secondary-color: #454545;
    --background-color: #383838;
    --text-color: #6d6d6d;
    --text-color2: #9b9b9b;
    --text-color3: #ffffff;
    --text-hover-color: #000000;
    --button-color: #757575;
  }

.add-cont-box {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.add-cont-content {
  height: 90vh;
}

.add-cont-box-o {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.add-cont-box-s {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.add-cont-btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.submit-btn-ac {
  justify-content: center;
  display: flex;
  gap: 10px;
  width: 100px;
  background-color: var(--secondary-color);
  border: 1px solid black;
  border-radius: 15px;
  padding: 7px 40px 7px 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-ac {
    background-color: var(--primary-color);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 10px;
    text-align: right;
    font-weight: 500;
    margin-right: 10px;
  }
  
  .navbar-ac a {
    text-decoration: none;
    color: var(--button-color);
    font-size: 15px;
    margin-right: 45px;
    width: 125px;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    transition: all 0.3s;
  }
  
  .navbar-ac a:hover {
    color: var(--text-color2);
  }
  
  .navbar-ac .icon {
    font-size: 20px;
  }

.submit-btn-ac:hover {
    color: #9b9b9b;
}

.add-input-box {
  background-color: var(--text-color1);
  color: var(--text-color);
  width: 250px;
  height: 30px;
  font-size: 15px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
}

.get-cont-response {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
