.main-table {
    width: 100%;
    height: calc(100vh - 250px);
    margin-top: 15px;
    table-layout: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .table-content {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    background-color: var(--primary-color);
    border-collapse: collapse;
  }
  
  .table-content th {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 15px;
    border: 1px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .table-content td {
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s;
    padding: 5px 5px 5px 5px;
  }
  
  .table-content td:hover {
    background-color: var(--table-hover-color);
    cursor: default;
  }
  
  tr .td-first {
    cursor: default;
    background-color: var(--table-first-color);
  }
  
  tr .td-second {
    cursor: default;
    background-color: var(--table-second-color);
  }